server/WebContent/sample-wsdls/CalculatorService.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://samples.ws.server.io/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="CalculatorServiceService" targetNamespace="http://samples.ws.server.io/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://samples.ws.server.io/" attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://samples.ws.server.io/">
			<xs:element name="minus" type="tns:minus" />
			<xs:element name="minusResponse" type="tns:minusResponse" />
			<xs:element name="oneWay" type="tns:oneWay" />
			<xs:element name="oneWayRobust" type="tns:oneWayRobust" />
			<xs:element name="plus" type="tns:plus" />
			<xs:element name="plusResponse" type="tns:plusResponse" />
			<xs:complexType name="oneWayRobust">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="minus">
				<xs:sequence>
					<xs:element name="a" type="xs:int" />
					<xs:element name="b" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="minusResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="oneWay">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="plus">
				<xs:sequence>
					<xs:element name="a" type="xs:int" />
					<xs:element name="b" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="plusResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="IllegalArgumentException" type="tns:IllegalArgumentException" />
			<xs:complexType name="IllegalArgumentException">
				<xs:sequence>
					<xs:element minOccurs="0" name="message" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="minusResponse">
		<wsdl:part element="tns:minusResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="oneWayRobust">
		<wsdl:part element="tns:oneWayRobust" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="plusResponse">
		<wsdl:part element="tns:plusResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="IllegalArgumentException">
		<wsdl:part element="tns:IllegalArgumentException" name="IllegalArgumentException"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="oneWay">
		<wsdl:part element="tns:oneWay" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="plus">
		<wsdl:part element="tns:plus" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="minus">
		<wsdl:part element="tns:minus" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CalculatorService">
		<wsdl:operation name="oneWayRobust">
			<wsdl:input message="tns:oneWayRobust" name="oneWayRobust"></wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="minus">
			<wsdl:input message="tns:minus" name="minus"></wsdl:input>
			<wsdl:output message="tns:minusResponse" name="minusResponse"></wsdl:output>
			<wsdl:fault message="tns:IllegalArgumentException" name="IllegalArgumentException"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="oneWay">
			<wsdl:input message="tns:oneWay" name="oneWay"></wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="plus">
			<wsdl:input message="tns:plus" name="plus"></wsdl:input>
			<wsdl:output message="tns:plusResponse" name="plusResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CalculatorServiceServiceSoapBinding"
		type="tns:CalculatorService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="oneWayRobust">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="oneWayRobust">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="minus">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="minus">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="minusResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="IllegalArgumentException">
				<soap:fault name="IllegalArgumentException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="oneWay">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="oneWay">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="plus">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="plus">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="plusResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CalculatorServiceService">
		<wsdl:port binding="tns:CalculatorServiceServiceSoapBinding"
			name="CalculatorServicePort">
			<soap:address
				location="http://localhost:8080/jax-ws-demo-server/CalculatorService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>